@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");
/* font-family: 'Freckle Face', cursive;*/

* {
  padding: 0;
  margin: 0;
  text-decoration: none;

  font-size: rem 1.6;
  font-family: "Freckle Face", cursive;
}

body {
}

.nameBox {
  grid-column: 2;
  grid-row: 2;

  display: flex;
  justify-content: center;
}

.nameInput {
  width: 55%;
  height: 2rem;
}

.nameButton {
  width: 2rem;
}

.output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.user-stats-container-br {
  grid-column: 1;

  display: flex;
  flex-direction: column;

  margin: 2rem;
  padding: 1rem;
  border: 0.5rem black solid;
  border-radius: 20px;
}
.user-stats-container-br h2 {
  align-self: center;
  padding-bottom: 1rem;
}
